.btnCircle {
    border-radius: 50% ;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width:20vw;
    height:20vw; 
    font-size: 1vw;
    outline:none;
    border: none;
    background-color: #ededed;
  }
.btnCircle:hover{
    background-color: #851f82;
}

#tab1, #tab2, #tab3 {
    display: none;
}
